/02_XML/TD1_ObjectAuChoix/nbproject/private/
/02_XML/TD2_Blibliotheque/nbproject/private/
/02_XML/TPJeuxOlympiques/nbproject/private/
/02_XML/TP_JeuxOlympiques/nbproject/private/
/03_IPCs/01_Communication_Inter_Processus_Locale/unPeuDePatiente/build/
/03_IPCs/01_Communication_Inter_Processus_Locale/unPeuDePatiente/dist/
/03_IPCs/01_Communication_Inter_Processus_Locale/SignalKill/build/
/03_IPCs/01_Communication_Inter_Processus_Locale/SignalKill/dist/
